
#oval {
    width: 280;
    height: 180px;
    background: #e9337c;
    -webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 150px / 50px;
}
#CCTV {
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
}
.embed-container {
  position: relative;
  padding-bottom: 63.25%;
  height: 0; overflow: hidden;
  max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed
{ position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
